* {
  scrollbar-color: #8e8e8e, #fff;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

.App{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.app-try > * {
  position: absolute;
  z-index: -1;
}

.left-hand-zoom {
  height: 65px;
  width: 65px;
  animation-name: zoomin-left-hand;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-left-hand {
  0%{
    transform: translateX(-25vw) translateY(36vh) rotate(270deg) scaleX(-1);
  }

  99%{
    transform: translateX(105vw) translateY(36vh) rotate(270deg) scaleX(-1);
  }
  100%{
    transform: scale(0);
  }
}

.right-hand-zoom {
  height: 65px;
  width: 65px;
  animation-name: zoomin-right-hand;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-right-hand {
  0%{
    transform: translateX(-25vw) translateY(28vh) rotate(290deg) scaleX(-1);
  }

  99%{
    transform: translateX(105vw) translateY(28vh) rotate(290deg) scaleX(-1);
  }
  100%{
    transform: scale(0);
  }
}

.zoom-face {
  height: 72px;
  width: 72px;
  animation-name: zoomin-face;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-face {
  0%{
    transform: translateX(-20vw) translateY(31vh) rotate(15deg);
  }

  99%{
    transform: translateX(110vw) translateY(31vh) rotate(15deg);
  }
  100%{
    transform: scale(0);
  }
}

.zoom-text {
  color: black;
  animation: fade-in-text 1s ease-in-out, mid-text 1s;
  transform: scale(0);
}

@keyframes fade-in-text {
  0%, 100%{
    opacity: 0;
  }

  50%, 80%{
    opacity: 1;
  }
}

@keyframes mid-text {
  0%, 100%{
    transform: translateY(15vh) translateX(45vw);
  }

}

.didntsee {
  color: black;
  opacity: 0;
  animation: fade-in-text 2s 2s ease-in-out, srry-txt 2s 2s;
  transform: scale(0);
}

@keyframes srry-txt {
  0%, 100%{
    transform: translateY(25vh) translateX(80vw);
  }
}

.onesec {
  color: black;
  opacity: 0;
  animation: fade-in-text 2s 4s ease-in-out, one-txt 2s 4s;
  transform: scale(0);
}

@keyframes one-txt {
  0%, 100%{
    transform: translateY(25vh) translateX(90vw);
  }
}


.shock-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation-name: shock-in;
  animation-duration: 2.8s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shock-in {
  0%{
    transform: scale(0);
  }
  1%{
    transform: translateX(115vw) translateY(31vh) rotate(-15deg) scale(1);
  }

  20%, 99%{
    transform: translateX(91vw) translateY(31vh) rotate(-15deg) scale(1);
  }

  100% {
    transform: scale(0);
  }
}


.grimace-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation-name: shock-in;
  animation-duration: 2.2s;
  animation-delay: 3.8s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.fingy {
  height: 65px;
  width: 65px;
  transform: scale(0);
  animation: fingy-move-1 2s 4s ease-in-out;
}

@keyframes fingy-move-1 {
  0%{
    transform: translateX(101vw) translateY(40vh) rotate(-90deg);
  }
  40%, 80%{
    transform: translateX(88vw) translateY(31vh) rotate(-15deg);
  }
  100%{
    transform: translateX(112vw) translateY(31vh) rotate(-15deg);
  }
}

.left-grab {
  height: 60px;
  width: 60px;
  transform: scale(0);
  animation: left-grab-down 3s 7s;
  z-index: 2;
}

@keyframes left-grab-down {
  0%{
    transform: translateX(40vw) translateY(-5vh);
  }
  15%{
    transform: translateX(40vw) translateY(30vh);
  }
  50% {
    transform: translateX(40vw) translateY(20vh);
  }
  65% {
    transform: translateX(40vw) translateY(50vh);
  }
  90% {
    transform: translateX(40vw) translateY(40vh);
  }
  100% {
    transform: translateX(40vw) translateY(105vh);
  }
}

.right-grab {
  height: 60px;
  width: 60px;
  transform: scale(0);
  animation: right-grab-down 3s 7s;
  z-index: 2;
}

@keyframes right-grab-down {
  0%{
    transform: translateX(52vw) translateY(-5vh) scaleX(-1);
  }
  15%{
    transform: translateX(52vw) translateY(30vh) scaleX(-1);
  }
  50% {
    transform: translateX(52vw) translateY(20vh) scaleX(-1);
  }
  65% {
    transform: translateX(52vw) translateY(50vh) scaleX(-1);
  }
  90% {
    transform: translateX(52vw) translateY(40vh) scaleX(-1);
  }
  100% {
    transform: translateX(52vw) translateY(105vh) scaleX(-1);
  }
}

.strug-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation: strug-face-down 3s 7s;
  z-index: 2;
}

@keyframes strug-face-down {
  0%{
    transform: translateX(46vw) translateY(-3vh);
  }
  15%{
    transform: translateX(46vw) translateY(33vh);
  }
  50% {
    transform: translateX(46vw) translateY(23vh);
  }
  65% {
    transform: translateX(46vw) translateY(53vh);
  }
  90% {
    transform: translateX(46vw) translateY(43vh);
  }
  100% {
    transform: translateX(46vw) translateY(108vh);
  }
}

.drag-down {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  animation: dragged-down 3s 7s forwards;
  transform: translateY(-120vh);
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}

@keyframes dragged-down {
  0%{
    transform: translateY(-100vh);
    visibility: visible;
  }
  15%{
    transform: translateY(-70vh);
  }
  50% {
    transform:  translateY(-80vh);
  }
  65% {
    transform: translateY(-50vh);
  }
  90% {
    transform: translateY(-60vh);
  }
  100% {
    transform: translateY(0vh);
    height: 100vh;
    width: 100vw;
  }
}

nav {
  align-items: center;
  background: #242424;
  box-shadow: 0 0 10px rgba(0,0,0,0.09);
  display: flex;
  font-size: 1.7rem;
  height:auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 10;
}

.nav-title {
  color: #fff;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li {
  display: list-item;
}

@keyframes color-text-fill {
  0%{
    background-size: 0%;
  }
  100%{
    background-size: 100%;
  }
}

nav ul li a {
  scroll-behavior: smooth;
}

.home-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 4px solid transparent; 
  transition: all 0.5s ease-out;
}

.home-link:hover{
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid hotpink;
  color: hotpink;
  transform: scale(1.1);
}

.about-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 4px solid transparent; 
}

.about-link:hover{
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid blue;
  color: blue;
  transform: scale(1.1);
}

.projects-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 4px solid transparent; 
}

.projects-link:hover{
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid yellow;
  color: yellow;
  transform: scale(1.1);
}

.contact-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 4px solid transparent; 
}

.contact-link:hover{
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid red;
  color: red;
  transform: scale(1.1);
}

.home {
  background: linear-gradient(315deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
  margin-top: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.home-container{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-info-container {
  flex: 60%;
}

.home-info-name {
  font-size: 3rem;
}

.wave-hand {
  height: 3rem;
  width: 3rem;
  animation: wave 2s 1s infinite;
}

@keyframes wave {
  0%, 20%, 40%, 60%, 100% {
    transform: rotate(40deg);
  }
  30%, 50%{
    transform: rotate(-30deg);
  }
}

.home-info-description {
  font-size: 1.6rem;
  color: #3c3c3c;
}

.home-pic-container {
  flex: 40%;
}

.home-pic{
  background-image: url(face.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem;
  border: 3px solid #242424;
  border-radius:  50% 50% 30% 70% / 50% 70% 30% 50%;
  transform: scale(1.5);
  transition: all 1s ease-in-out;
  animation: pic-outline 5s ease-in-out infinite;
}

@keyframes pic-outline {
  0%, 100%{
    border-radius: 50% 50% 30% 70% / 50% 70% 30% 50%;
  }
  12.5%{
    border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
  }
  25%{
    border-radius: 70% 30% 50% 50% / 50% 30% 70% 50%;
  }
  37.5%{
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  }
  50%{
    border-radius: 30% 70% 50% 50% / 30% 50% 50% 70%;
  }
  62.5%{
    border-radius: 40% 60% 60% 40% / 50% 50% 50% 50%;
  }
  75%{
    border-radius: 50% 50% 70% 30% / 70% 50% 50% 30%;
  }
  87.5%{
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
}

.skills{
  align-items: center;
  padding: 15rem 0 3rem 0;
  bottom: 0;
  color: #242424;
  display: flex;
  font-size: 1.7rem;
  left: 0;
}

.skills-title{
  border-right: 4px solid #8e8e8e;
  border-radius: 2px;
  color: #242424;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 5rem;
  padding-right: 1rem;
}

.logos li {
  list-style: none;
  transition: all 0.3s ease-out;
}

.logos li:hover {
  transform: scale(1.1);
}

.logos ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.separator{
  width: 100%;
  height: 3px;
  background-color: #242424;
  border-bottom: 10px solid #242424;
}


.about {
  background: linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.about-title{
  font-size: 3.5rem;
  text-decoration: underline;
}

.about-main-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  padding-top: 5rem;
}

.about-pic-container{
  flex: 50%;
}

.about-text-container{
  flex: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

.swim-pic{
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  border: 5px solid #242424;
}

.swim-pic:hover{
  transform: scale(1.1);
}

.about-text {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.swim-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.swim-skill {
  font-size: 1.2rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.swim-skill:hover {
  transform: scale(1.2);
  opacity: 1;
}

.warning{
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning h1 {
  font-size: 5rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  animation: warning 3s ease-in-out infinite;
}

@keyframes warning {
  0%, 50%, 100%{
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.4);
  }
}

.warning h3 {
  padding-top: 2rem;
  font-size: 2rem;
}

.about-achievements-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  padding-top: 10rem;
}

.swim-achieve-text {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.swim-achievement-list{
  padding-bottom: 3rem;
}

.swim-achievement{
  font-size: 1.5rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.swim-achievement:hover{
  transform: scale(1.2);
  opacity: 1;
}

.about-gallery-container {
    flex: 50%;
}

.swim-collage {
  height: 40rem;
  width: 32rem;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  border: 5px solid black;
  border-bottom: 10px solid black;
}

.trials-training {
  font-size: 1.5rem;
}

.load {
  padding-top: 1rem;
  height: 3rem;
  width: 3rem;
  padding-right: 1rem;
}