* {
  scrollbar-color: #fff, #2a2a2a;
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;

}

html {
  scroll-behavior: smooth;
}


.App{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.app-try > * {
  position: absolute;
  z-index: -1;
}

li::marker {
  color: white;
}

.left-hand-zoom {
  height: 65px;
  width: 65px;
  animation-name: zoomin-left-hand;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-left-hand {
  0%{
    transform: translateX(-25vw) translateY(36vh) rotate(270deg) scaleX(-1);
  }

  99%{
    transform: translateX(105vw) translateY(36vh) rotate(270deg) scaleX(-1);
  }
  100%{
    transform: scale(0);
  }
}

.right-hand-zoom {
  height: 65px;
  width: 65px;
  animation-name: zoomin-right-hand;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-right-hand {
  0%{
    transform: translateX(-25vw) translateY(28vh) rotate(290deg) scaleX(-1);
  }

  99%{
    transform: translateX(105vw) translateY(28vh) rotate(290deg) scaleX(-1);
  }
  100%{
    transform: scale(0);
  }
}

.zoom-face {
  height: 72px;
  width: 72px;
  animation-name: zoomin-face;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes zoomin-face {
  0%{
    transform: translateX(-20vw) translateY(31vh) rotate(15deg);
  }

  99%{
    transform: translateX(110vw) translateY(31vh) rotate(15deg);
  }
  100%{
    transform: scale(0);
  }
}

.zoom-text {
  color: black;
  animation: fade-in-text 1s ease-in-out, mid-text 1s;
  transform: scale(0);
}

@keyframes fade-in-text {
  0%, 100%{
    opacity: 0;
  }

  50%, 80%{
    opacity: 1;
  }
}

@keyframes mid-text {
  0%, 100%{
    transform: translateY(15vh) translateX(45vw);
  }

}

.didntsee {
  color: black;
  opacity: 0;
  animation: fade-in-text 2s 2s ease-in-out, srry-txt 2s 2s;
  transform: scale(0);
}

@keyframes srry-txt {
  0%, 100%{
    transform: translateY(25vh) translateX(80vw);
  }
}

.onesec {
  color: black;
  opacity: 0;
  animation: fade-in-text 2s 4s ease-in-out, one-txt 2s 4s;
  transform: scale(0);
}

@keyframes one-txt {
  0%, 100%{
    transform: translateY(25vh) translateX(90vw);
  }
}


.shock-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation-name: shock-in;
  animation-duration: 2.8s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shock-in {
  0%{
    transform: scale(0);
  }
  1%{
    transform: translateX(115vw) translateY(31vh) rotate(-15deg) scale(1);
  }

  20%, 99%{
    transform: translateX(91vw) translateY(31vh) rotate(-15deg) scale(1);
  }

  100% {
    transform: scale(0);
  }
}


.grimace-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation-name: shock-in;
  animation-duration: 2.2s;
  animation-delay: 3.8s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.fingy {
  height: 65px;
  width: 65px;
  transform: scale(0);
  animation: fingy-move-1 2s 4s ease-in-out;
}

@keyframes fingy-move-1 {
  0%{
    transform: translateX(101vw) translateY(40vh) rotate(-90deg);
  }
  40%, 80%{
    transform: translateX(88vw) translateY(31vh) rotate(-15deg);
  }
  100%{
    transform: translateX(112vw) translateY(31vh) rotate(-15deg);
  }
}

.left-grab {
  height: 60px;
  width: 60px;
  transform: scale(0);
  animation: left-grab-down 3s 7s;
  z-index: 2;
}

@keyframes left-grab-down {
  0%{
    transform: translateX(40vw) translateY(-5vh);
  }
  15%{
    transform: translateX(40vw) translateY(30vh);
  }
  50% {
    transform: translateX(40vw) translateY(20vh);
  }
  65% {
    transform: translateX(40vw) translateY(50vh);
  }
  90% {
    transform: translateX(40vw) translateY(40vh);
  }
  100% {
    transform: translateX(40vw) translateY(105vh);
  }
}

.right-grab {
  height: 60px;
  width: 60px;
  transform: scale(0);
  animation: right-grab-down 3s 7s;
  z-index: 2;
}

@keyframes right-grab-down {
  0%{
    transform: translateX(52vw) translateY(-5vh) scaleX(-1);
  }
  15%{
    transform: translateX(52vw) translateY(30vh) scaleX(-1);
  }
  50% {
    transform: translateX(52vw) translateY(20vh) scaleX(-1);
  }
  65% {
    transform: translateX(52vw) translateY(50vh) scaleX(-1);
  }
  90% {
    transform: translateX(52vw) translateY(40vh) scaleX(-1);
  }
  100% {
    transform: translateX(52vw) translateY(105vh) scaleX(-1);
  }
}

.strug-face {
  height: 72px;
  width: 72px;
  transform: scale(0);
  animation: strug-face-down 3s 7s;
  z-index: 2;
}

@keyframes strug-face-down {
  0%{
    transform: translateX(46vw) translateY(-3vh);
  }
  15%{
    transform: translateX(46vw) translateY(33vh);
  }
  50% {
    transform: translateX(46vw) translateY(23vh);
  }
  65% {
    transform: translateX(46vw) translateY(53vh);
  }
  90% {
    transform: translateX(46vw) translateY(43vh);
  }
  100% {
    transform: translateX(46vw) translateY(108vh);
  }
}

.drag-down {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  animation: dragged-down 3s 7s forwards;
  transform: translateY(-120vh);
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}

@keyframes dragged-down {
  0%{
    transform: translateY(-100vh);
    visibility: visible;
  }
  15%{
    transform: translateY(-70vh);
  }
  50% {
    transform:  translateY(-80vh);
  }
  65% {
    transform: translateY(-50vh);
  }
  90% {
    transform: translateY(-60vh);
  }
  100% {
    transform: translateY(0vh);
    height: 100vh;
    width: 100vw;
  }
}

nav {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  justify-content: space-between;
  padding: 1.8% 2.1% 1.8% 2.6%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0,0,0,0.09);
}

.nav-title {
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%);
  background: linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: calc(24px + (64 - 24) * (100vw - 360px) / (2560 - 360));
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 0.5rem;
  padding: 1% 1.5%;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fcfcfc;
  font-size: calc(16px + (36 - 16) * (100vw - 360px) / (2560 - 360));
  cursor: pointer;
}

@media screen and (max-width: 700px){
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #1a1a1a;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.09);
  }

  nav ul li {
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: calc(16px + (36 - 16) * (100vw - 360px) / (2560 - 360));
  }

  .nav-links.show {
    display: flex;
  }

  .nav-toggle {
    display: block;
    font-size: calc(20px + (36 - 20) * (700px - 360px) / (2560 - 360));
  }
}




@keyframes color-text-fill {
  0%{
    background-size: 0%;
  }
  100%{
    background-size: 100%;
  }
}

nav ul li a {
  scroll-behavior: smooth;
  font-size: calc(16px + (36 - 16) * (100vw - 360px) / (2560 - 360));
}

a, a:hover {
  text-decoration: none;
}

.home-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  align-items: center;
  /* padding: 5% 0%; */
  border-bottom: 4px solid transparent; 
  transition: all 0.5s ease-out;
}

.home-link:hover{
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(315deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.home-link::after{
  display: block;
  content: "";
  margin:auto;
  width: 0;
  height: 4px;
  transition: width 0.3s;
}

.home-link:hover::after {
  width: 100%;
  background: -webkit-linear-gradient(315deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
}
.about-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  align-items: center;
  /* padding: 5% 0%; */
  border-bottom: 4px solid transparent; 
  transition: all 0.5s ease-out;
}

.about-link:hover{
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.about-link::after{
  display: block;
  content: "";
  margin:auto;
  width: 0;
  height: 4px;
  transition: width 0.3s;
}

.about-link:hover::after {
  width: 100%;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}
.projects-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  align-items: center;
  /* padding: 5% 0%; */
  border-bottom: 4px solid transparent; 
  transition: all 0.5s ease-out;
}

.projects-link:hover{
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.projects-link::after{
  display: block;
  content: "";
  margin:auto;
  width: 0;
  height: 4px;
  transition: width 0.3s;
}

.projects-link:hover::after {
  width: 100%;
  background: -webkit-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
}
.contact-link{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  height: 100%;
  display: inline-block;
  align-items: center;
  border-bottom: 4px solid transparent; 
  transition: all 0.5s ease-out;
}

.contact-link:hover{
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(135deg, hsla(356, 76%, 50%, 1) 0%, rgb(73, 73, 73) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

.contact-link::after{
  display: block;
  content: "";
  margin:auto;
  width: 0;
  height: 4px;
  transition: width 0.3s;
}

.contact-link:hover::after {
  width: 100%;
  background: -webkit-linear-gradient(135deg, hsla(356, 76%, 50%, 1) 0%, rgb(73, 73, 73) 100%);
}


.home {
  background: #2a2a2a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
}

.home-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
  padding: 5%;
  border-radius: 10px;
  background-color: blue;
}

.home-info-container {
  flex: 80%;
}

.home-info-name {
  font-size: calc(45px + (45 - 20) * (100vw - 360px) / (2560 - 360));
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%);
  background: linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave-hand {
  width: calc(36px + (36 - 18) * (100vw - 360px) / (2560 - 360));
  height: calc(36px + (36 - 18) * (100vw - 360px) / (2560 - 360));
  animation: wave 2s 1s infinite;
}

@keyframes wave {
  0%, 20%, 40%, 60%, 100% {
    transform: rotate(40deg);
  }
  30%, 50%{
    transform: rotate(-30deg);
  }
}

.home-info-description {
  font-size: calc(30px + (30 - 12) * (100vw - 360px) / (2560 - 360));
  background: -webkit-linear-gradient(315deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.home-pic-container {
  flex: 40%;
}

.home-pic{
  background-image: url(face.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  width: 11rem;
  border: 3px solid blanchedalmond;
  border-radius:  50% 50% 30% 70% / 50% 70% 30% 50%;
  transform: scale(1.5);
  transition: all 1s ease-in-out;
  animation: pic-outline 6s ease-in-out infinite;
}

@keyframes pic-outline {
  0%, 100%{
    border-radius: 50% 50% 30% 70% / 50% 70% 30% 50%;
  }
  12.5%{
    border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
  }
  25%{
    border-radius: 70% 30% 50% 50% / 50% 30% 70% 50%;
  }
  37.5%{
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  }
  50%{
    border-radius: 30% 70% 50% 50% / 30% 50% 50% 70%;
  }
  62.5%{
    border-radius: 40% 60% 60% 40% / 50% 50% 50% 50%;
  }
  75%{
    border-radius: 50% 50% 70% 30% / 70% 50% 50% 30%;
  }
  87.5%{
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
}

.skills{
  align-items: center;
  padding: 15rem 0 3rem 0;
  bottom: 0;
  color: #242424;
  display: flex;
  font-size: 1.7rem;
  left: 0;
}

.skills-title{
  border-right: 4px solid transparent;
  border-image: linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%);
  border-image-slice: 1;
  border-radius: 2px;
  color: #242424;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 5rem;
  padding-right: 1rem;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%);
  background: linear-gradient(315deg, hsl(210, 73%, 35%, 1) 0%, hsl(161, 59%, 54%, 1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos li {
  list-style: none;
  transition: all 0.3s ease-out;
}

.logos li:hover {
  transform: scale(1.1);
}

.logos ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.separator{
  width: 100%;
  height: 3px;
  background-color: #151515;
  border-bottom: 10px solid #151515;
}


.about {
  background: #2a2a2a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.about-title{
  font-size: 3.5rem;
  text-decoration: underline;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-main-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  padding-top: 5rem;
}

.about-pic-container{
  flex: 50%;
}

.about-text-container{
  flex: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

.swim-pic{
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  border: 5px solid transparent;
  border-image: linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  border-image-slice: 1;
}

.swim-pic:hover, .swim-collage:hover{
  transform: scale(1.1);
}

.about-text {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-skill {
  font-size: 1.2rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-skill:hover {
  transform: scale(1.2);
  opacity: 1;
}

.warning{
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning h1 {
  font-size: 5rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  animation: warning 3s ease-in-out infinite;
}

@keyframes warning {
  0%, 50%, 100%{
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.4);
  }
}

.warning h3 {
  padding-top: 2rem;
  font-size: 2rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievements-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  padding-top: 10rem;
}

.swim-achieve-text {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-achievement-list{
  padding-bottom: 3rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-achievement{
  font-size: 1.5rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swim-achievement:hover{
  transform: scale(1.2);
  opacity: 1;
}

.about-gallery-container {
    flex: 50%;
}

.swim-collage {
  height: 40rem;
  width: 32rem;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  border: 5px solid black;
  border-bottom: 10px solid black;
}

.trials-training {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.load {
  padding-top: 1rem;
  height: 3rem;
  width: 3rem;
  padding-right: 1rem;
  color: blue;
}

.projects {
  background: #2a2a2a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.projects-title {
  font-size: 3.5rem;
  text-decoration: underline;
  background: -webkit-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container{
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.project-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-bottom: 5rem;
}

@media screen and (min-width: 600px) {
  .project-row {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .project-row {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 80%;
  }
}

@media screen and (min-width: 1600px){
  .project-row{
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 80%;
  }
}

.project-box{
  width: 100%;
  height: 400px;
  padding: 0 1rem;
  border-radius: 10px;
  padding-bottom: 50px;
}

.project-link{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  
}

.project-pic-wrap{
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.project-pic-wrap::after {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.project-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
  background-color: #333232;
}

.project-img:hover{
  transform: scale(1.1);
}

.project-info{
  min-height: 5rem;
  height: 100%;
  padding: 1rem 3rem;
  background-color: #242424;

}

.project-text {
  color: white;
  font-size: 1.3rem;
  line-height: 24px;
  background: -webkit-linear-gradient(315deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact {
  background: #2a2a2a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.contact-title{
  font-size: 3.5rem;
  text-decoration: underline;
  background: -webkit-linear-gradient(135deg, hsla(356, 76%, 50%, 1) 0%, rgb(121, 28, 4) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #202020;
  border-radius: 5px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.form-row{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

form {
  width: 80%;
}

label {
  background: -webkit-linear-gradient(135deg, hsla(356, 76%, 50%, 1) 0%, rgb(121, 28, 4) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #242424;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.button-container{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glow-on-hover {
    font-size: 1.2rem;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.footer-container {
  background-color: #242424;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-link-wrapper > h2 {
  color: aliceblue;
  font-size: 45px;
  padding-bottom: 10px;
}

.footer-link-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 60px;
  padding: 0px 10px;
}